/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

:root {
  --main-color: #FF8C1D;
  --main-bg-color: #F0F0F0;
}

* {
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:var(--main-bg-color);
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/*-------------------------
  General Styles
--------------------------*/
a, a:visited {
  outline:none;
  color:#1c4f64;
}

a:hover{
  text-decoration:none;
}

section, footer, header{
  display: block;
}

.footer {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #E4E4E4;
}

/*----------------------------
  The Header
-----------------------------*/
header{
  background-color:#fff;
  width: 100%;
  position: fixed;
  box-shadow:0 2px 4px rgba(0,0,0,0.3);
    display: inline-block;
    padding: 8px 0;
    z-index: 99;
}

header h1, header h2{
  text-align:center;
    float: left;
}

header img{
  margin: 0 auto;
  display: block;
}

header #header-icon-home {
    position: absolute;
    left: 8px;
    top: 8px;
}

header #header-icon-info {
    position: absolute;
    right: 8px;
    top: 8px;
}

header i.fa {
    font-size: 3em;
    color: grey;
}

/*----------------------------
  Thumbnails
-----------------------------*/
.thumbs{
  display: none;
}

/*----------------------------
  Accordion items
-----------------------------*/

.content-holder{
  top: 50px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 50px;
  background-color: #F0F0F0;
}

.acc-item{
  border:5px solid var(--main-color);
  background-color: var(--main-color);
  border-radius:10px;
  text-decoration:none;
  display:inline-block;
  box-shadow:0 1px 3px rgba(0,0,0,0.5);
  margin: 10px 0 10px -5px;
  width: 100%;
}

.acc-header{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px;
}

.acc-center-text {
  text-align: center;
}

.acc-text{
  padding: 5px;
  background-color: white;
  border-radius: 0  0 10px 10px;
}

.acc-item a{
  text-decoration: none;
  color: #FF8C1D;
  font-size: 1.5em;
}

.acc-text p{
  border-bottom: 1px dashed var(--main-color);
  margin: 2px;
}

.acc-text ul{
  padding-left: 20px;
}

.acc-text ol{
  padding-left: 20px;
}

.acc-text span{
  color: var(--main-color);
  font-weight: bold;
}

.acc-hide{
  display: none;
}

/*----------------------------
  Home page
-----------------------------*/

#home{
  position: absolute;
  top: 15%;
  width: 100%;
  height: 85%;
  text-align: center;
}

#index-header img{
  max-height: 35px;
}

.home-page-text {
    color: black;
    font-size: 2em;
    text-align: center;
}

.home-task-button, .home-call-button {
    position: relative;
    width: 80%;
    left: 10%;
    margin: 10px 0;
    padding: 20px 0;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-decoration: none;
    display: block;
}

#tasks-button-now {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
}

#tasks-button-lt {
  background-color: var(--main-color);
  color: white;
}

a.home-call-button, a.home-call-button:visited{
    background-color: #fafafa;
    color: #888888;
}

.space {
    height: 7%;
}

#thumbs-button {
    display: block;
    width: 70px;
    margin: auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    color: var(--main-color);
    font-size: 2.5em;
    line-height: 2.2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.contact-icons{
  border-radius: 50%;
  width: 63px;
  height: 63px;
  display: inline-block;
  margin: 0 5%;
}

.contact-icons {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  color: var(--main-color);
  font-size: 2.5em;
  line-height: 2.2em;
}

/*----------------------------
  Home page
-----------------------------*/

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  width: 120px;
  height: 120px;
  margin: -68px 0 0 -68px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #FF8C1D;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader-holder{
  position: absolute;
  z-index: 98;
  width: 100%;
  height: 100%;
  background-color:var(--main-bg-color);
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#info {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 10;
  padding-top: 60px;
}

#info-text{
  margin: auto;
  font-size: 18px;
  padding: 10px;
}
.info-title {
  text-align: center;
}

#info-text i.fa {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  color: var(--main-color);
  font-size: 1.5em;
  line-height: 1.1em;
  float: left;
  padding: 3px;
  border-radius: 3px;
  margin: 10px;
}

.info-task-buttons {
    float: left;
}

.info-home-task-button {
  background-color: var(--main-color);
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin: 0 5px 5px 0;
}

#info-text .info-contact-icons i.fa {
  padding: 5px;
  border-radius: 50%;
  margin: 5px;
  width: 28px;
  text-align: center;
}

#info-text i.fa.fa-heart {
  background-color: transparent;
  margin: 0 10px;
}
/* filter buttons */

.filterButtons {
    width: 65%;
    border: 1px solid var(--main-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
}
#imageFilters {
    width: 15%;
}

.filterButton, .imageFilterButton {
    padding: 0.5em;
    font-size: 1.5em;
    z-index: 999;
    flex-grow: 1;
    text-align: center;
    background-color: white;
}
.imageFilterButton {
    font-size: 2em;
    font-family: fantasy;
    padding-bottom: 0px;
    padding-top: 5px;
}

#ongoingTasksFilter {
  border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

#favoritesFilter {
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 0px;
  font-family: fantasy;
}

.filterButton-active {
    color: white;
    background-color:var(--main-color);
}

.task-fav,  .image-fav {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 3em;
    color: grey;
    padding: 20px 10px;
    z-index: 999;
    font-family: fantasy;
}
.task-fav.favorite, .image-fav.favorite {
  color: #FF8C1D;
}
